  <i class="fa fa-plus-square" aria-hidden="true"></i><button type="btn" ng-model="showForm" ng-init="showForm" (click)="showForm = !showForm" class="btn btn-primary new-article">New Tag</button>
  <div *ngIf="showForm" class="new-article-container">
    <form
  [formGroup]="formTag"
  (ngSubmit)="onSubmit(formTag.value)">
    <div class="row">
    <div class="col-md-4">
      <label for="tag">Tag</label>
    </div>
    <div class="col-md-8">
      <input type="text" name="title" id="title" formControlName="title">
    </div>
  </div>
  <div class="col-md-12 text-center saveRow">
  	<button class="save btn btn-primary" type="submit">Save</button>
  </div>
</form>
</div>
<mat-card>
  <h2 class="text-center">Tags</h2>
<div *ngFor="let tag of tags | async">
  <button mat-raised-button>{{tag.name}}</button>
</div>
</mat-card>