<mat-sidenav-container>
  <mat-sidenav #sidenav id="sidenav" mode="side">    
  <mat-list>
    <mat-list-item>
        <button color="accent" mat-button matTooltip="Home" routerLink="/home"><mat-icon>home</mat-icon></button>
    </mat-list-item>
    <mat-list-item>
      <button color="accent" class="sidenav-button"  mat-button matTooltip="Coupon" routerLink="/">
    <mat-icon>receipt</mat-icon>View Site</button></mat-list-item>
    <mat-list-item>
      <button color="accent" class="sidenav-button"  mat-button matTooltip="Coupon" routerLink="/coursesList"><mat-icon>receipt</mat-icon>Articles</button>
    </mat-list-item>
    <mat-list-item>
      <button color="accent" class="sidenav-button"  mat-button matTooltip="Coupon" routerLink="/subscriptionsList"><mat-icon>receipt</mat-icon></button>
    </mat-list-item>
    <mat-list-item>
      <button color="accent" class="sidenav-button"  mat-button matTooltip="Coupon" routerLink="/form1"><mat-icon>receipt</mat-icon></button>
    </mat-list-item>
    <mat-list-item>
      <button color="accent" class="sidenav-button" mat-button matTooltip="Coupon" routerLink="/form2"><mat-icon>receipt</mat-icon></button>
    </mat-list-item>
    <mat-list-item>
      <button color="accent" class="sidenav-button" mat-button matTooltip="Help" routerLink="/about"><mat-icon>help</mat-icon></button>
    </mat-list-item>
    <mat-list-item>
      <button color="accent" class="sidenav-button" mat-button matTooltip="Help" routerLink="/about"><mat-icon>help</mat-icon></button>
    </mat-list-item>
    <mat-list-item>
      <button color="accent" class="sidenav-button" mat-button matTooltip="Help" routerLink="/about"><mat-icon>help</mat-icon></button>
    </mat-list-item>
  </mat-list>
</mat-sidenav>

  <mat-toolbar>
    <div class="filler"></div>
    <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <div class="container">
    <router-outlet name="back-roulet"></router-outlet>
  </div>
  
</mat-sidenav-container>

