<div class="row top-panel">
  <button class="view-site" type="button"><a routerLink="/admin" routerLinkActive="active">Go to Back Office</a></button>
</div>
<div class="jumbotron text-center">
  <h1>
    NG 4 CMS
  </h1>
  <p>Made by Nicolás Hardmeier</p> 
</div>

<div class="container articles-container">
	<div class="row">
		<div class="col-md-12">
			<h2 class="text-center">ARTICLES</h2>
		</div>
	</div>
		<article *ngFor = "let article of articles | async">
			<div class="col-md-12 articleTitle">
				<h2 class="text-center" ><a [routerLink]="['/articles', article.id]">{{article.title}}</a></h2>
			</div>
		  	<div class="row">
			  	<div class="col-md-4 image container">
					<img src="{{article.image}}" class="article-img">
				</div>
			  	<div class="col-md-8">
			  		<p>{{article.content}}</p>
			  	</div>
			</div>
			<hr>
		</article>
</div>