<i class="fa fa-plus-square" aria-hidden="true"></i><button type="btn" ng-model="showForm" ng-init="showForm" (click)="showForm = !showForm" class="btn btn-primary new-article">New Category</button>
<div *ngIf="showForm" class="new-article-container">
  <mat-card class="form-card">
    <div class="form-container">
      <h3 class="text-center">Add new category</h3>
            <form [formGroup]="formCategory" (ngSubmit)="onSubmit()" class="formCategoy" novalidate>
              <mat-form-field class="title">
                <input matInput placeholder="name" formControlName="name">
                <mat-error align="start" *ngIf="invalid && (dirty || touched)" class="form__error">title is invalid</mat-error>
              </mat-form-field>
              <br>
              <button mat-raised-button type="submit">Add category</button>
            </form>
          </div>
        </mat-card>
</div>

<hr>
<mat-card>
    <h2 class="text-center">Categories</h2>
  <div class="col-md-12" *ngFor="let category of categories | async">
    <div class="items">
      <button mat-raised-button>{{category.name}}</button>
    </div>
  </div>
</mat-card>